:root {
  --primary-color: #262217;
  --secondary-color: #bb8033;
  --text-primary-color: #2f2f2e;
  --text-secondary-color: #fefefe;
  --text-tertiary-color: #4b8334;
  --background-color: #f4f2ec;
  --background-paper-300: #ebe7dd;
  --background-paper-500: #cdc8b1;
  --background-paper-700: #9b9271;
}
